﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Raidix Test Task</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="app/css/style.css" />
</head>
<body id="app">
    <div class="container-fluid"></div>
    <div id="newProjectModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close close-button">&times;</button>
            <h4 class="modal-title">Create New Project</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="projectName">Project Name</label>
                <input type="text" class="form-control" id="projectName">
            </div>
            <div class="form-group">
                <label for="url">Domain</label>
                <input type="text" class="form-control" id="projectDomain">
            </div>
        </div>
        <div class="modal-footer">
            <button id="add-new-prject" type="button" class="btn btn-primary">Create</button>
            <button type="button" class="btn btn-default close-button">Close</button>
        </div>
    </div>
</div>
</div>
<script type="text/template" id="project-detail-view-template">
    <header>
        <div class="row">
            <div class="col-xs-6"><h1><%= project_name %></h1><a class="destroy" href="javascript:void(0);">delete project</a></div>
        </div>
    </header>
    <div class="row text-left">
        <div class="col-xs-6">
            <h3>Project's Information</h3>
            <p>Domain: <a href=""><%= url %></a></p>
            <p>Keywords count: <b>23</b></p>
            <p>Keywords list: </p>
        </div>
        <div class="col-xs-6">
            <h3>Limits</h3>
            <p>Projects: <b>3</b> of <b>50</b></p>
            <p>Keywords: <b>130</b> of <b>1500</b></p>
            <p>Pages: <b>40</b> of <b>42000</b></p>
        </div>
    </div>
</script>
<script type="text/template" id="app-main-view-template">
    <header>
        <div class="row">
            <div class="col-xs-6"><h1>Projects</h1></div>
            <div class="col-xs-6 header-align">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="favorite-tool-container">
                            <button id="all" class="btn active-element">All</button>
                            <button id="only-favorite" class="btn">Only favorite</button>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <span>Favorite Tool</span>
                        <select name="tools" id="tools">
                            <!-- TODO options  -->
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn active-element" data-toggle="modal" data-target="#newProjectModal">Add New Project</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="projects"></div>
</script>
<script type="text/template" id="project-template">
    <div class="row project-header">
        <div class="col-xs-3">
            <span class="project_name"><i class="fa fa-bookmark" aria-hidden="true"></i> <%= project_name %></span>
            <a href="http://<%= url %>"><%= url %> <i class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="row tool-set"></div>
</script>
<script type="text/template" id="tools-template">
    <% _.each(tools, function(tool)  { %>
    <% if (tool.isFavorite) {%>
    <div class="col-xs-4"><div class="tool favorite"><%= tool.tool_name %></div></div>
    <% } %>
    <% }); %>
    <% _.each(tools, function(tool)  { %>
    <% if (!tool.isFavorite) {%>
    <div class="col-xs-2"><div class="tool"><%= tool.tool_name %></div></div>
    <% }%>
    <% }); %>
</script>
<script type="text/template" id="tools_options_template">
    <option selected value> -- select an option -- </option>
    <% _.each(tools, function(tool) { %>
    <option value="<%= tool.tool_name %>"><%= tool.tool_name %></option>
    <% }); %>
</script>
<script src="config/config.js"></script>
<script src="app/js/main-ck.js"></script>
</body>
</html>
