header{
    padding: 0 15px;
    margin: 10px -15px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;

    h1{
        margin-top: 20px;
        margin-bottom: 30px;
        display: inline-block;

        a{
            margin-left: 10px;
        }
    }

            .header-align{
            margin-top: 20px;
        }

        select#tools{
            height: 30px;
        }

    .favorite-tool-container{
        width: 183px;
        border: 2px solid #4598de;
    }

    .btn{
            background-color: white;
            padding: 4px 20px;
            color: black;
            border-radius: 0px;

            &:not(:last-child){
                float: left;
            }

            &.active-element{
                background-color: #4598de;
                color: white;
            }
        }
}

section{
    margin-top: 20px;
}

.project-header{
    margin-bottom: 10px;

    .project_name{
        cursor: pointer;
    }

    span{
        padding-right: 20px;
        border-right: 1px solid;
        font-weight: bold;
    }
    a{
        margin-left: 20px;

        &:hover{
            text-decoration: none;
        }
    }
}

.tool-set{
    .col-xs-2, .col-xs-4{
        padding-left: 5px;
        padding-right: 5px;
    }
    .tool{
        background-color: #eef2f6;
        padding: 10px;
        height: 70px;
        -webkit-box-shadow: 0px 3px 1px 0px rgba(214,217,221,1);
        -moz-box-shadow: 0px 3px 1px 0px rgba(214,217,221,1);
        box-shadow: 0px 3px 1px 0px rgba(214,217,221,1);
        margin-bottom: 7px;

        &.favorite{
            height: 147px;
        }
    }
}

